In [ ]:
<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Hands-on Lab: Complete the EDA with SQL</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install ipython-sql
!pip install pandas
!pip install --upgrade prettytable
!pip install --upgrade sqlalchemy

Requirement already satisfied: ipython-sql in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (0.5.0)
Requirement already satisfied: prettytable in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from ipython-sql) (3.15.1)
Requirement already satisfied: ipython in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from ipython-sql) (8.18.1)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from ipython-sql) (2.0.38)
Requirement already satisfied: sqlparse in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: exceptiongroup in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pexpect>4.3 in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Requirement already satisfied: pandas in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: prettytable in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (3.15.1)
Requirement already satisfied: wcwidth in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from prettytable) (0.2.13)
Requirement already satisfied: sqlalchemy in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (2.0.38)
Requirement already satisfied: greenlet!=0.4.17 in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/xingliu/opt/miniconda3/envs/py39/lib/python3.9/site-packages (from sqlalchemy) (4.11.0)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [3]:
import prettytable
prettytable.DEFAULT = 'DEFAULT'

In [11]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [13]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [15]:
%sql sqlite:///my_data1.db

In [17]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [19]:
%sql drop table SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[]

**Note:This below code is added to remove blank rows from table**

In [21]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"** . 

   

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [25]:
%sql SELECT distinct "Launch_Site" from SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'KSC'

In [27]:
%sql SELECT * from SPACEXTABLE where "Launch_Site" like "KSC%" limit 5;

 * sqlite:///my_data1.db
Done.

[('2017-02-19', '14:39:00', 'F9 FT B1031.1', 'KSC LC-39A', 'SpaceX CRS-10', 2490, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (ground pad)'),
 ('2017-03-16', '6:00:00', 'F9 FT B1030', 'KSC LC-39A', 'EchoStar 23', 5600, 'GTO', 'EchoStar', 'Success', 'No attempt'),
 ('2017-03-30', '22:27:00', 'F9 FT  B1021.2', 'KSC LC-39A', 'SES-10', 5300, 'GTO', 'SES', 'Success', 'Success (drone ship)'),
 ('2017-05-01', '11:15:00', 'F9 FT B1032.1', 'KSC LC-39A', 'NROL-76', 5300, 'LEO', 'NRO', 'Success', 'Success (ground pad)'),
 ('2017-05-15', '23:21:00', 'F9 FT B1034', 'KSC LC-39A', 'Inmarsat-5 F4', 6070, 'GTO', 'Inmarsat', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [37]:
%sql SELECT sum("PAYLOAD_MASS__KG_") as "PAYLOAD_MASS__KG_" from SPACEXTABLE where "Customer" like "NASA%";

 * sqlite:///my_data1.db
Done.

[(99980,)]

In [33]:
%sql SELECT sum("PAYLOAD_MASS__KG_") as "PAYLOAD_MASS__KG_", "Booster_Version" from SPACEXTABLE where "Customer" like "NASA%" group by "Booster_Version";

 * sqlite:///my_data1.db
Done.

[(2647, 'F9 B4  B1039.2'),
 (3310, 'F9 B4 B1039.1'),
 (362, 'F9 B4 B1045.1'),
 (2697, 'F9 B4 B1045.2'),
 (12050, 'F9 B5 B1046.4'),
 (2268, 'F9 B5 B1056.2 '),
 (2972, 'F9 B5 B1058.4 '),
 (1977, 'F9 B5 B1059.2'),
 (2500, 'F9 B5B1050'),
 (12055, 'F9 B5B1051.1'),
 (2495, 'F9 B5B1056.1 '),
 (12530, 'F9 B5B1058.1 '),
 (2617, 'F9 B5B1059.1'),
 (12500, 'F9 B5B1061.1 '),
 (1192, 'F9 B5B1063.1'),
 (2205, 'F9 FT  B1035.2'),
 (3136, 'F9 FT B1021.1'),
 (2257, 'F9 FT B1025.1'),
 (2490, 'F9 FT B1031.1'),
 (2708, 'F9 FT B1035.1'),
 (0, 'F9 v1.0  B0004'),
 (525, 'F9 v1.0  B0005'),
 (500, 'F9 v1.0  B0006'),
 (677, 'F9 v1.0  B0007'),
 (2296, 'F9 v1.1'),
 (2216, 'F9 v1.1 B1010'),
 (2395, 'F9 v1.1 B1012'),
 (1898, 'F9 v1.1 B1015'),
 (553, 'F9 v1.1 B1017'),
 (1952, 'F9 v1.1 B1018')]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [39]:
%sql SELECT avg("PAYLOAD_MASS__KG_") as "PAYLOAD_MASS__KG_" from SPACEXTABLE where "Booster_Version" = "F9 v1.1";

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date where the succesful landing outcome in drone ship was acheived.


_Hint:Use min function_

In [43]:
%sql SELECT "Date" as "successful in drone ship date" from SPACEXTABLE where "Landing_Outcome" = "Success (drone ship)";

 * sqlite:///my_data1.db
Done.

[('2016-04-08',),
 ('2016-05-06',),
 ('2016-05-27',),
 ('2016-08-14',),
 ('2017-01-14',),
 ('2017-03-30',),
 ('2017-06-23',),
 ('2017-06-25',),
 ('2017-08-24',),
 ('2017-10-09',),
 ('2017-10-11',),
 ('2017-10-30',),
 ('2018-04-18',),
 ('2018-05-11',)]

### Task 6

##### List the names of the boosters which have success in ground pad  and have payload mass greater than 4000 but less than 6000

In [51]:
%sql SELECT "Booster_Version" from SPACEXTABLE where "PAYLOAD_MASS__KG_" > 4000 and "PAYLOAD_MASS__KG_" < 6000

 * sqlite:///my_data1.db
Done.

[('F9 v1.1',),
 ('F9 v1.1 B1011',),
 ('F9 v1.1 B1014',),
 ('F9 v1.1 B1016',),
 ('F9 FT B1020',),
 ('F9 FT B1022',),
 ('F9 FT B1026',),
 ('F9 FT B1030',),
 ('F9 FT  B1021.2',),
 ('F9 FT B1032.1',),
 ('F9 B4 B1040.1',),
 ('F9 FT  B1031.2',),
 ('F9 B4 B1043.1',),
 ('F9 FT  B1032.2',),
 ('F9 B4  B1040.2',),
 ('F9 B5 B1046.2',),
 ('F9 B5 B1047.2',),
 ('F9 B5B1054',),
 ('F9 B5 B1048.3',),
 ('F9 B5 B1051.2 ',),
 ('F9 B5B1060.1',),
 ('F9 B5 B1058.2 ',),
 ('F9 B5B1062.1',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [53]:
%sql SELECT COUNT(CASE WHEN "Mission_Outcome" = "Failure (in flight)" THEN 1 END) AS "Failure", COUNT(CASE WHEN "Mission_Outcome" like "Success%" THEN 1 END) AS "SUC" FROM SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[(1, 100)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [55]:
%sql SELECT "Booster_Version" FROM SPACEXTABLE WHERE "PAYLOAD_MASS__KG_" = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTABLE)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, succesful landing_outcomes in ground pad ,booster versions, launch_site for the months in year 2017
**Note: SQLLite does not support monthnames. So you need to use substr(Date,6,2) for month, substr(Date,9,2) for date, substr(Date,0,5),='2017' for year.**

In [57]:
%sql select substr(Date,6,2) as month, "Landing_Outcome", "Booster_Version", "Launch_Site" from SPACEXTABLE  where substr(Date,0,5)="2017" and "Landing_Outcome" = "Success (ground pad)"

 * sqlite:///my_data1.db
Done.

[('02', 'Success (ground pad)', 'F9 FT B1031.1', 'KSC LC-39A'),
 ('05', 'Success (ground pad)', 'F9 FT B1032.1', 'KSC LC-39A'),
 ('06', 'Success (ground pad)', 'F9 FT B1035.1', 'KSC LC-39A'),
 ('08', 'Success (ground pad)', 'F9 B4 B1039.1', 'KSC LC-39A'),
 ('09', 'Success (ground pad)', 'F9 B4 B1040.1', 'KSC LC-39A'),
 ('12', 'Success (ground pad)', 'F9 FT  B1035.2', 'CCAFS SLC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [63]:
%sql SELECT "Landing_Outcome", COUNT(*) AS outcome_count, RANK() OVER (ORDER BY COUNT(*) DESC) AS rank FROM SPACEXTABLE WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY "Landing_Outcome" ORDER BY rank

 * sqlite:///my_data1.db
Done.

[('No attempt', 10, 1),
 ('Success (drone ship)', 5, 2),
 ('Failure (drone ship)', 5, 2),
 ('Success (ground pad)', 3, 4),
 ('Controlled (ocean)', 3, 4),
 ('Uncontrolled (ocean)', 2, 6),
 ('Failure (parachute)', 2, 6),
 ('Precluded (drone ship)', 1, 8)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%203/LAB-String_Patterns_Sorting_Grouping.md.html">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
--!>

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>